body{
  margin: 0;
}

h1{
  margin: 0;
}

.contents{
  width: 100%;
}

.reset-list{
  list-style-type: none;
}

.main{
  background: #9f9;
}

.side-menu{
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #c3c3c3;
  margin-left: -150px;
  transition: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.04, 0, 0.95);
}

.side-menu-opened{
  margin-left: 0px;
  transition: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.04, 0, 0.95);
}

.side-menu li{
  background: #ccc;
}
